@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --colar-primary: #6366F1;
  --colar-dark: #0B0F19;
  --colar-gray-800:#33354D;
  --colar-gray-700: #565973;
  --colar-gray-600: #9397AD;
  --colar-white: #ffff;
}

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

body{
  font-family: "Manrope", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
}
.container{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

  /* navigation */

  #navigation{

    

  

  

  
.check{
  color: var(--colar-dark);
  display: flex;
  
}

header .container{
  display: grid;
  grid-template-columns:1fr auto auto auto;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.nav-link{
  color: var(--colar-gray-800);
  font-weight: 600;
  text-decoration: none;
  display: none;
}
nav-link:hover{
  color: var(--colar-primary);
  text-decoration: underline;
}

.btn-toogle-switch .dark-mode-text {
  color: var(--colar-gray-700);
  font-size: 16px;
  font-weight: 600;
  margin-right: 1rem;
}

.dark-mode-text {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6366F1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}







/* Media Quary */

@media (min-width:768px){
  /* navigation del */
  .container{
    max-width: 720px;
    align-items: center;
}
.dark-mode-text {
  display: inline;
}

header .container{
  gap:3rem;
}


}




@media (min-width:1400px){

  .container{
    max-width: 1320px;
  }

  header .container{
    grid-template-columns: auto 1fr auto auto ;
    gap: 3rem;
  }

  .check{
    display: none;
  }
   #sign-in-btn{
    display: inline;
  }

  .nav-link{
    display: block;
  }

}


  }



/* Btn sektion */

#sign-in-btn{
  background-color: var(--colar-primary);
  color: #ffff;
  border-radius: 8px;
  padding: 12px 25px;
  display: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  
}
#sign-in-btn:hover{
  background-color: var(--colar-gray-600);
  color: #ffff;
  text-decoration: none;

}


.btn-download-app{
  background-color: var(--colar-dark);
  color: #ffff;
  border-radius: 8px;
  padding: 12px 25px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  
}
.btn-download-app:hover{
  background-color: var(--colar-gray-600);
  color: #ffff;
  text-decoration: none;

}

.btn-circle{
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--colar-gray-700);
  background-color: var(--colar-white);
  color: var(--colar-dark);
  
}





/* första sida Hero */
#hero{

  background: rgb(99,102,241);
  background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
  padding-bottom: 2rem;


  .headline{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .content{
    text-align: center;
    

    p{
      font-size: 18px;
      margin-top: 3rem;
      margin-bottom: 3.5rem;
    }
    
  }

  .buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .discover-more{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    color: var(--colar-dark);
    margin-top: 2rem;
    text-decoration: none;
  }

  







  .images{
    display: none;
  }




}




